@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --mainTextColor: #384459;
  --mainBackgroundColor: #EAEAEA;
  /*font-family: 'Roboto', sans-serif;*/
  --primaryFont: 'Roboto', sans-serif;
  --timeDisplayFontSizeMobile: 80px;
  --insetAreaColor: white;
  --borderRoundness: 5px;
}

div {
  /*outline: 1px solid red;*/
}

body{
  background-color: var(--mainBackgroundColor);
  font-family: var(--primaryFont);
  color: var(--mainTextColor);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.time-and-play-reset-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.time-display {
  font-size: var(--timeDisplayFontSizeMobile);
}

.box-shadow {
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
}

.play-pause-reset-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  margin: 0 0 0 25px;
  background-color: var(--mainBackgroundColor);
  
  border-radius: var(--borderRoundness);
}

.play-pause-button-container{
  margin-bottom: 20px;
  margin-top: 10px;
}



.reset-button-container {
  margin-bottom: 10px;
}

.icon-play,
.icon-pause,
.icon-loop-alt {
  font-size: 40px;
}

.icon-loop-alt {
  display: inline-block;
  transform: rotate(180deg);
}

.time-mode-select-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 90%;
  border-radius: var(--borderRoundness);
  margin: 10px auto 0px auto;
  line-height: 20px;
  font-size: 20px;
  font-weight: 800;
}

.time-mode-button {
  // padding: 15px;
  height: 10px;
  // border-right: 2px solid var(--mainTextColor);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.time-mode-button:last-of-type {
  border-right: none;
}
