@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
  color scheme: https://coolors.co/3a4457-eaeaea-42f2f7-46acc2-498c8a

  icon credit: <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
*/

:root {
  --mainTextColor: RGBA(60, 68, 85, 1.00);
  --mainBackgroundColor: RGBA(234, 234, 234, 1.00);
  /*font-family: 'Roboto', sans-serif;*/
  --primaryFont: 'Roboto', sans-serif;
  --timeDisplayFontSizeMobile: 80px;
  --insetAreaColor: white;
  --borderRoundness: 5px;
  --highlightButtonColor: RGBA(98, 170, 191, 1.00);
  --highlightButtonGlowColor: RGBA(98, 170, 191, .40)
}

div {
  // outline: 1px solid red;
}

body{
  background-color: var(--mainBackgroundColor);
  font-family: var(--primaryFont);
  color: var(--mainTextColor);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.time-and-play-reset-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.time-display {
  min-width: 200px;
  text-align: center;
  font-size: var(--timeDisplayFontSizeMobile);
}

.box-shadow {
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
}

.play-pause-reset-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  margin: 0 0 0 25px;
  background-color: var(--mainBackgroundColor);
  
  border-radius: var(--borderRoundness);
}

.play-pause-button-container{
  margin-bottom: 20px;
  margin-top: 10px;
}



.reset-button-container {
  margin-bottom: 10px;
  position: relative;
}

.icon-play,
.icon-pause,
.icon-loop-alt {
  font-size: 40px;
}

.icon-loop-alt {
  display: inline-block;
  transform: rotate(180deg);
}




.reset-button-overlay {
  position: absolute;
  top: 0;
  left: 0;
  // background-color: yellow;
  animation-name: fade-anim;
  animation-duration: 0.2s;
}

@keyframes fade-anim {
  from {opacity: 1;}
  to {opacity: 0;}
}



.time-mode-select-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 90%;
  max-width: 288px;
  border-radius: var(--borderRoundness);
  margin: 10px auto 0px auto;
  line-height: 20px;
  font-size: 20px;
  font-weight: 800;
}

.time-mode-button {
  // padding: 15px;
  // height: 10px;
  // border-right: 2px solid var(--mainTextColor);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.time-mode-button:last-of-type {
  border-right: none;
}

.glow {
  color: var(--highlightButtonColor);

  text-shadow: 0 0 1px var(--highlightButtonGlowColor);

  
}

.tomato-icon-container {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: var(--highlightButtonColor);
  // border-radius: var(--borderRoundness);
}

.tomato-icon {
  height: 40px;
}

